@use '../../../../../public/styles/variables';

:host {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    border-radius: 0.3em;

    a {
        text-decoration: none;
        color: variables.$on-surface;
    }

    &:hover {
        cursor: pointer;
        background-color: variables.hover(variables.$surface);

        a {
            text-decoration: underline;
        }
    }

    &.active {
        background-color: variables.active(variables.$surface);
        font-weight: variables.$fw-bold;
    }
}
