@use "../../../../../public/styles/theme-variables" as tv;

:host {
    padding: tv.$spacing * 1.5 tv.$spacing * 6;
    border: 1px solid transparent;
    border-radius: tv.$radius-lg;
    font-weight: tv.$font-weight-medium;

    &:not(:disabled) {
        &:hover {
            cursor: pointer;
        }
    }

    &[dma-button="primary"] {
        border-color: tv.$primary;
        color: tv.$on-primary;
        background-color: tv.$primary;

        &:not(:disabled) {
            &:hover {
                border-color: tv.$primary-hover;
                background-color: tv.$primary-hover;
            }

            &:active {
                border-color: tv.$primary-active;
                background-color: tv.$primary-active;
            }
        }
    }

    &[dma-button="secondary"] {
        border-color: tv.$border;
        color: tv.$on-secondary;
        background-color: tv.$secondary;

        &:not(:disabled) {
            &:hover {
                background-color: tv.$secondary-hover;
            }

            &:active {
                background-color: tv.$secondary-active;
            }
        }
    }
}
