@use "../../../../../public/styles/theme-variables" as tv;

:host {
    display: flex;
    flex-direction: column;
    gap: tv.$spacing * 2;

    padding: tv.$spacing * 4;
    border-top: 1px solid tv.$border;
}
