
.angular/
.nx/
dist/
reports/
**/.prisma/client

node_modules/

.idea/
.vscode/

.github/
.msw/
data/
e2e/
tools/
docs/
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
.tool-versions
**/.docker/

jest*
**/test/
**/*.spec.ts
**/tsconfig.spec.json

**/.env*
certificate*.pem

CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
