.angular/
dist/
coverage/
reports/

*.pem

.git/
.github/
.gitignore
node_modules/

.dockerignore

.idea/
.run/
.vscode/
.tool-versions
.editorconfig

.prettierignore
.prettierrc

.markdownlint.json
.markdownlintignore

.stylelintcache
.stylelintrc

.eslintcache
eslint.config.mjs

test/
vitest.config.mts
