.angular/
dist/

node_modules/

.claude/
.gemini/
.junie/
AGENTS.md

.github/

.idea/
.run/
.vscode/
.editorconfig
.gitattributes
.postcssrc.json
.prettierignore
.prettierrc
.tool-versions
eslint.config.mjs

*.pem

CONTRIBUTING.md
README.md

.docker/*
!.docker/nginx.conf
