# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

node_modules/
.eslintcache
.stylelintcache

# Compiled output
.angular/
coverage/
dist/
reports/
**/__screenshots__/

# System files
.DS_Store
Thumbs.db

*.pem
