# IDEs and editors
.idea/*
!.idea/jsLinters
!.idea/runConfigurations
!.idea/modules.xml
!.idea/prettier.xml
!.idea/vcs.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# compiled output
dist/
node_modules/
.nx/
**/prisma/client/
.angular/
reports/

tmp/

# OS
.DS_Store

*.pem
*.key
.env

*.proto
!libs/shared-api/**/*.proto

.docker/mariadb/
.docker/dbeaver-workspace/
