@use "../../../../public/styles/theme-variables" as tv;

:host {
    padding: tv.$spacing * 1.5 tv.$spacing * 6;
    border: 1px solid transparent;
    border-radius: tv.$radius-lg;
    font-weight: tv.$font-weight-medium;

    .button-content {
        display: flex;
        gap: tv.$spacing * 3;
        align-items: center;
        justify-content: center;

        height: 1.5rem;

        text-wrap: nowrap;
    }

    &.icon-only {
        padding: tv.$spacing * 1.5;
    }

    &:not(:disabled) {
        &:hover {
            cursor: pointer;
        }
    }

    &[dma-button="primary"] {
        color: tv.$on-primary;
        background-color: tv.$primary;

        &:not(:disabled) {
            &:hover {
                background-image: tv.$primary-hover;
            }

            &:active {
                background-image: tv.$primary-active;
            }
        }
    }

    &[dma-button="secondary"] {
        border-color: tv.$border;
        color: tv.$on-secondary;
        background-color: tv.$secondary;

        &:not(:disabled) {
            &:hover {
                background-image: tv.$secondary-hover;
            }

            &:active {
                background-image: tv.$secondary-active;
            }
        }
    }
}
