@use "../../../../public/styles/theme-variables" as tv;

:host {
    display: block;
    flex: 1 1 auto;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 36rem;
        padding: tv.$spacing * 4;

        color: tv.$on-primary;

        background-image:
            linear-gradient(oklch(from tv.$primary l c h / 70%), oklch(from tv.$primary l c h / 70%)),
            url("../../../../public/images/d20-banner.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .first-row,
        .last-row {
            display: flex;
            gap: tv.$spacing * 8;
            align-items: center;
        }

        .first-row {
            margin-bottom: tv.$spacing * 3;
        }

        h2 {
            margin-bottom: tv.$spacing * 8;
            color: tv.$on-primary-subtle;
        }

        p {
            @include tv.text-xl;

            max-width: 36em;
            margin-bottom: tv.$spacing * 8;
            color: tv.$on-primary-subtle2;
            text-align: center;
        }
    }
}
