<ng-container *dmaTranslate="let t">
    <dma-nav-link
        route="/characters"
        orientation="horizontal-reverse"
        [iconOnly]="isCollapsed()"
        [dmaTooltipAnchor]="t('LABEL_CHARACTERS')"
        [tooltipDisabled]="!isCollapsed()"
    >
        <dma-icon dma-users-icon dmaLeadingIcon />
        {{ t('LABEL_CHARACTERS') }}
    </dma-nav-link>
    <dma-nav-link
        route="/campaigns"
        orientation="horizontal-reverse"
        [iconOnly]="isCollapsed()"
        [dmaTooltipAnchor]="t('LABEL_CAMPAIGNS')"
        [tooltipDisabled]="!isCollapsed()"
    >
        <dma-icon dma-dungeon-icon dmaLeadingIcon />
        {{ t('LABEL_CAMPAIGNS') }}
    </dma-nav-link>
    <dma-nav-link
        route="/compendium"
        orientation="horizontal-reverse"
        [iconOnly]="isCollapsed()"
        [dmaTooltipAnchor]="t('LABEL_COMPENDIUM')"
        [tooltipDisabled]="!isCollapsed()"
    >
        <dma-icon dma-book-open-icon dmaLeadingIcon />
        {{ t('LABEL_COMPENDIUM') }}
    </dma-nav-link>
</ng-container>
