<aside>
    <h1>Resources</h1>
    <dma-select (valueChange)="onSelectResourceType($event)">
        @for (option of resourceOptions; track option.value) {
            <dma-option [value]="option.value" [selected]="option.selected">{{ option.label }}</dma-option>
        }
    </dma-select>
    <button type="button" dmaButton="primary" (click)="onNewResource()">
        <dma-icon dma-plus-so-icon ngProjectAs="dma-leading-button-icon" />
        New Spell
    </button>
    <dma-resources-list emptyCollectionMessage="No Spells were found" />
</aside>

<article>
    <router-outlet />
</article>
