@use "../../../../../../public/styles/theme-variables" as tv;

$nav-rail-min-width: tv.$spacing * 18;
$nav-rail-max-width: tv.$spacing * 72;
$nav-rail-background: tv.$primary-subtle;
$nav-rail-on-background: tv.$on-primary-subtle;

:host {
    will-change: width;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    width: $nav-rail-max-width;
    border-right: 1px solid tv.$border;

    color: $nav-rail-on-background;

    background-color: $nav-rail-background;

    transition: width 100ms ease-in-out;

    &.collapsed {
        width: $nav-rail-min-width;
    }

    .footer {
        flex: 0 0 auto;
        border-top: 1px solid tv.$border;

        .actions {
            display: flex;
            flex-direction: column;
            gap: tv.$spacing * 2;
            padding: tv.$spacing * 4;
        }
    }
}
