@use "../../../../public/styles/theme-variables" as tv;

:host {
    display: flex;
    flex-direction: column;
    height: 100dvh;

    main {
        display: flex;
        flex: 1 1 auto;

        dma-nav-rail {
            flex: 0 0 auto;
        }
    }
}
