<nav class="navbar navbar-expand bg-body-tertiary border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <div class="d-inline-block align-text-top">
                <img ngSrc="images/favicon/32x32.png" fill alt="DnD Mapp logo.png" loading="lazy" />
            </div>
            DnD Mapp
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/notifications" routerLinkActive="active">Notifications</a>
            </li>
        </ul>
    </div>
</nav>
