@forward "./layout";
@forward "./shadows";
@forward "./spacing";
@forward "./typography";

@use "./colors" as c;

$background: c.$neutral-100;
$on-background: c.$neutral-900;
$surface: c.$neutral-50;
$on-surface: c.$neutral-900;
$border: c.$neutral-300;

// Primary subtle
$on-primary-subtle: c.$neutral-900;
$primary-subtle: c.$blue-50;
$primary-subtle-hover:
    linear-gradient(oklch(from c.$blue-900 l c h / 8%), oklch(from c.$blue-900 l c h / 8%)),
    linear-gradient($primary-subtle, $primary-subtle);
$primary-subtle-active:
    linear-gradient(oklch(from c.$blue-900 l c h / 18%), oklch(from c.$blue-900 l c h / 18%)),
    linear-gradient($primary-subtle, $primary-subtle);

// Primary
$on-primary: c.$neutral-50;
$primary: c.$blue-900;
$primary-hover:
    linear-gradient(oklch(from $on-primary l c h / 8%), oklch(from $on-primary l c h / 8%)),
    linear-gradient($primary, $primary);
$primary-active:
    linear-gradient(oklch(from $on-primary l c h / 18%), oklch(from $on-primary l c h / 18%)),
    linear-gradient($primary, $primary);

// Secondary
$on-secondary: c.$neutral-900;
$secondary: c.$neutral-50;
$secondary-hover:
    linear-gradient(oklch(from $on-secondary l c h / 8%), oklch(from $on-secondary l c h / 8%)),
    linear-gradient($secondary, $secondary);
$secondary-active:
    linear-gradient(oklch(from $on-secondary l c h / 18%), oklch(from $on-secondary l c h / 18%)),
    linear-gradient($secondary, $secondary);
