@forward "./layout";
@forward "./shadows";
@forward "./spacing";
@forward "./typography";

@use "./colors" as c;

$background: c.$neutral-100;
$on-background: c.$neutral-900;
$surface: c.$neutral-50;
$on-surface: c.$neutral-900;
$border: c.$neutral-300;

// Primary
$primary-subtle: c.$blue-50;
$on-primary-subtle: c.$neutral-900;
