<nav>
    <dma-nav-link route="/" exactMatch>
        <dma-icon dma-house-so-icon />
        Home
    </dma-nav-link>
    <dma-nav-link route="/resources">
        <dma-icon dma-wrench-so-icon />
        Resources management
    </dma-nav-link>
    <dma-nav-link route="/settings">
        <dma-icon dma-gear-so-icon />
        Server settings
    </dma-nav-link>

    <div class="trailing-content">
        @if (isAuthenticated()) {
            <button type="button" dmaButton (click)="onMyProfile()">
                <dma-icon dma-circle-user-so-icon ngProjectAs="dma-leading-button-icon" />
                {{ authenticatedUser().username }}
            </button>
            <button type="button" dmaButton="danger-subtle" (click)="onLogOut()">
                <dma-icon dma-arrow-right-from-bracket-so-icon ngProjectAs="dma-leading-button-icon" />
                Log out
            </button>
        } @else {
            <button type="button" dmaButton (click)="onSignUp()">
                <dma-icon dma-user-plus-so-icon ngProjectAs="dma-leading-button-icon" />
                Sign up
            </button>
            <button type="button" dmaButton (click)="onLogIn()">
                <dma-icon dma-arrow-right-to-bracket-so-icon ngProjectAs="dma-leading-button-icon" />
                Log in
            </button>
        }
    </div>
</nav>
