:host {
    display: block;
    height: 100%;
    width: 16em;

    nav {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 0.2em;

        .trailing-content {
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            margin-top: auto;

            button {
                display: block;
                width: 100%;
            }
        }
    }
}
