name: Push to main
on:
    push:
        branches:
            - main
permissions:
    contents: read
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: CI
              uses: ./.github/actions/ci

    docker-build:
        name: Docker build
        runs-on: ubuntu-22.04
        needs:
            - ci
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Get short Git commit hash
              id: vars
              shell: bash
              run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

            - name: Build and push
              uses: docker/bake-action@v6
              env:
                  TAGS: '["dev", "sha-${{ steps.vars.outputs.sha_short }}"]'
              with:
                  source: .
                  files: .docker/docker-bake.hcl
                  targets: app
                  push: true
